<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.yolo.mapper.ScheduleRecordMapper">

    <insert id="batchSaveRecords" parameterType="java.util.List">
        INSERT INTO schedule_record (
            user_id, biz_date, record_type, start_time, end_time, activity_type, create_time, update_time
        ) VALUES
        <foreach collection="list" item="record" separator=",">
            (
                #{record.userId},
                #{record.bizDate},
                #{record.recordType},
                #{record.startTime},
                #{record.endTime},
                #{record.activityType},
                NOW(),
                NOW()
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            activity_type = VALUES(activity_type),
            update_time = NOW()
    </insert>

    <select id="selectRecordsByGoalId" resultType="com.life.yolo.entity.ScheduleRecord">
        SELECT
            sr.*
        FROM
            schedule_record sr
        INNER JOIN goal_activity_type_relation gar ON sr.user_id = gar.user_id 
            AND sr.activity_type = gar.type_code
        WHERE
            sr.user_id = #{userId}
            AND gar.goal_id = #{goalId}
        AND record_type = 'actual'
    </select>

</mapper>